

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
        <meta name="viewpoint" content="width=device-width,initial-scale=1.0"/>
        <title>File Upload and API Response Form</title>

    </head>
    <body>
        <h1>File Upload and API Response Form</h1>
        <form action="/api/v1/upload" method="POST" enctype="multipart/form-data">
          <label for="fileInput" class="file-label">
            Choose a File
            <input type="file" name="file"/>
          </label>
            
            
            <button type="submit" class="upload-button">Upload</button>
        </form>
        <div id="apiResponses" class="hidden">
          <h2>API Responses:</h2>
          <p id="response1"></p>
          <p id="response2"></p>
          <p id="response3"></p>
        </div>
        <script src="script.js"></script>
    </body>
</html>
