<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-Edge">
        <meta name="viewport" content="width=device-width initial-scale=1.0" >
        <title>Document</title>

    </head>
    <body>
        <h2>File Upload and API Response Form</h2>
        <form action="/api/v1/files/upload" method="POST" enctype="multipart/form-data">
        <input type="file" placeholder="name" name="file" accept=".doc,.docx,.xml,.pdf,.txt"/>
        <button type="submit" class="upload-button">Upload</button>
       </form>
    </body>
</html>